@charset "UTF-8";

*{margin: 0; padding: 0; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}

/*-----===HEADER===-----*/
header{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aliceblue;
}

.logo-container{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}
.horizontal-nav{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ham-btn-container{
    height: 100%;
    width: 25%;
    display: none;
}

.vertical-nav{
    display: none;
    top: 10vh;
    position: absolute;
    transition: .3s all ease-in-out;
}

@media screen and (max-width: 1024px) {
    .horizontal-nav{
        display: none;
    }

    .logo-container{
        width: 100%;
    }

    .ham-btn-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
    }

    .ham-btn-container:hover{
        cursor:pointer;
        background-color: aqua;
    }
    .ham-btn-container:hover ~ .vertical-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: blue;
        transition: .3s all ease-in-out;
    }
}