@charset "UTF-8";
/*------Mexendo universalmente------*/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(185, 185, 185);
}

/*------Navigator Menu------*/
#menu{
    width: 100%;
    height: 130px;
    background-color: #000000;
}

header{
    position: sticky;
    z-index: 1;
    top: 0;
}

nav{
    text-align: center;
}

#menu img{
    height: 80px;
}

.linkMenu{
    text-decoration: none;
    padding: 0px 10px;
    color: aliceblue;
    font-size: 2em;
}

/*------Conteúdo------*/
.banner{
    width: 90%;
    height: 500px;
    padding: 60px;
    margin: 2em auto;

    box-shadow: -1px -2px 5px 13px rgb(45, 45, 45);
}
.banner figcaption{
    float: right;
    width: 40%;
    height: 500px;
    overflow: hidden;
}
.banner .texto{
    width: 50%;
    margin-top: 50px;
    font-size: 22px;
}
/*Responivity*/
@media screen and (max-width: 1000px){
    .banner{
        height: 480px;
        padding: 20px;
    }
    .banner .texto{
        font-size: 24px;
    }
    .banner h1{
        font-size: 28px;
        padding: 2em 0 0 0;
    }
    .banner h2{
        font-size: 14px;
    }
    figcaption{
        height: 480px;
        margin-top: 90px;
    }
    .banner a{
        padding: 3px 10px;
        background-color: black;
        font-size: 12px;
        color: aliceblue;
        text-decoration: none;
        border-radius: .25em;
    }
}

@media screen and (max-width: 750px){
    .banner{
        padding: 0px 20px 20px;
    }
    .banner .texto{
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .banner h1{
        font-size: 18px;
    }
    .banner h2{
        font-size: 12px;
        margin-top: 20px;
    }
    .banner figcaption{
        width: 100%;
        height: 300px;
        margin-top: 20px;
    }
}