@charset "UTF-8";
/*Mexendo universalmente*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: rgb(85,85,85);
}

/*Navigator Menu*/
#menu{
    width: 100%;
    height: 130px;
    background-color: #000000;
    text-align: center;
}

#menu img{
    height: 80px;
}

.linkMenu{
    text-decoration: none;
    padding: 0px 10px;
    color: aliceblue;
    font-size: 2em;
}

/*Parte*/
.parte{
    text-align: center;
}

.img{
    background-color: rgb(41, 41, 41);
    padding: 3em 0 3em 0;
}
.parte figure{
    margin: 0 20% 0 20%;
    height: 250px;
    width: 60%;
    overflow: hidden;
}

.text{
    background-color: rgb(85,85,85);
}
.text h1{
    color: aliceblue;
    margin: 0px 3em;
    font-size: 3em;
}
.text p{
    color: aliceblue;
    margin: 1em 7em 0 7em;
    font-size: 1em;
}